<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ArchiveHist</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ArchiveHist.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <img src="~/Images/DPD_belllogo.png" alt="DPD Logo" />
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="d-flex flex-row">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ArchiveHist</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="dropdown p-2">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:black; background-color:white; border:none; font-family:Arial; font-size:90%;">
                            <b>Tables</b>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" asp-controller="AudioFiles" asp-action="Index">Audio Files</a>
                            <a class="dropdown-item" asp-controller="Collections" asp-action="Index">Collections</a>
                            <a class="dropdown-item" asp-controller="Delanceys" asp-action="Index">Delancey</a>
                            <a class="dropdown-item" asp-controller="Maps" asp-action="Index">Maps</a>
                            <a class="dropdown-item" asp-controller="Oversizeds" asp-action="Index">Oversizes</a>
                            <a class="dropdown-item" asp-controller="Photos" asp-action="Index">Photos</a>
                            <a class="dropdown-item" asp-controller="PoisonBooks" asp-action="Index">Poison Books</a>
                            <a class="dropdown-item" asp-controller="ReportsPubs" asp-action="Index">Reports & Publications</a>
                            <a class="dropdown-item" asp-controller="Researches" asp-action="Index">Research</a>
                            <a class="dropdown-item" asp-controller="Trunks" asp-action="Index">Trunks</a>
                        </div>
                    </div>

                </div>
                <p class="nav navbar-text">Hello, @User.Identity?.Name!</p>
            </div>
        </nav>
    </header>
    <div class="container p-0">
        <main role="main" class="pb-3">
            @{
                var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
                var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
            }

            @if (currentController == "Home" && currentAction == "Index")
            {
                <div class="position-relative background-container">
                    <img src="~/Images/CityHall.png" alt="City Hall" class="background-image" />
                    <div class="content-overlay">
                        @RenderBody()
                        <div class="dropdown p-2">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="insertDataDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Insert Data For...
                            </button>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="insertDataDropdown">
                                <a class="dropdown-item" asp-controller="AudioFiles" asp-action="Create">Audio Files</a>
                                <a class="dropdown-item" asp-controller="Collections" asp-action="Create">Collections</a>
                                <a class="dropdown-item" asp-controller="Delanceys" asp-action="Create">Delancey</a>
                                <a class="dropdown-item" asp-controller="Maps" asp-action="Create">Maps</a>
                                <a class="dropdown-item" asp-controller="Oversizeds" asp-action="Create">Oversizes</a>
                                <a class="dropdown-item" asp-controller="Photos" asp-action="Create">Photos</a>
                                <a class="dropdown-item" asp-controller="PoisonBooks" asp-action="Create">Poison Books</a>
                                <a class="dropdown-item" asp-controller="ReportsPubs" asp-action="Create">Reports & Publications</a>
                                <a class="dropdown-item" asp-controller="Researches" asp-action="Create">Research</a>
                                <a class="dropdown-item" asp-controller="Trunks" asp-action="Create">Trunks</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else
            {
                @RenderBody()
            }
        </main>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ArchiveHist - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
    .background-container {
        position: relative;
        width: 100%;
        min-height: 80vh;
        overflow: hidden;
    }

    .background-image {
        position: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .content-overlay {
        position: relative;
        z-index: 2;
        padding: 10px;
        color: #000;
    }
</style>
