@model ArchiveHist.Models.Trunk

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Trunk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TId" />
            <div class="form-group">
                <label asp-for="BuildingNamePlanTitle" class="control-label"></label>
                <input asp-for="BuildingNamePlanTitle" class="form-control" />
                <span asp-validation-for="BuildingNamePlanTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanYear" class="control-label"></label>
                <input asp-for="PlanYear" class="form-control" />
                <span asp-validation-for="PlanYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArchitectFirmAssociated" class="control-label"></label>
                <input asp-for="ArchitectFirmAssociated" class="form-control" />
                <span asp-validation-for="ArchitectFirmAssociated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FolderName" class="control-label"></label>
                <input asp-for="FolderName" class="form-control" />
                <span asp-validation-for="FolderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Links" class="control-label"></label>
                <input asp-for="Links" class="form-control" />
                <span asp-validation-for="Links" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CId" class="control-label"></label>
                <select asp-for="CId" class="form-control" asp-items="ViewBag.CId"></select>
                <span asp-validation-for="CId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
