@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">
    <h1 class="display-4">Access Denied</h1>
    <p>Your Windows account (@User.Identity?.Name) is not authorized to use this application.</p>
    <p>If your username should be authorized, please contact the system administrator.</p>
</div>